<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{default/sistema-default}">

<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/dataTables.bootstrap4.min.css}">
    <script th:src="@{/js/datatables.min.js}"></script>
    <script th:src="@{/js/dataTables.bootstrap4.min.js}"></script>
    <script>
        $(document).ready(function () {
            $('.table').DataTable({
                pageLength: 6,
                paging: true,
                ordering: true,
                searching: false,
                info: false,
                lengthChange: false,
                language: {
                    search: "Pesquisar",
                    paginate: {
                        next: "Próximo",
                        previous: "Anterior"
                    }
                }
            });
        })
    </script>
</head>

<body>
    <main layout:fragment="conteudo">

        <h2 id="titulo-page" class="mb-4">USUÁRIOS CADASTRADOS</h2>

        <table class="table table-sm table-striped table-responsive-sm">
            <thead>
                <tr>
                    <th width="5%">#</th>
                    <th width="25%">Nome</th>
                    <th width="20%">Cargo</th>
                    <th width="20%">Unidade</th>
                    <th width="20%">Município</th>
                    <th width="10%">Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="bombeiro, var : ${bombeiros}">
                    <td class="align-middle" th:text="${var.count}"></td>
                    <td class="align-middle" th:text="${bombeiro.nomeCompleto}"></td>
                    <td class="align-middle" th:text="${bombeiro.cargo}"></td>
                    <td class="align-middle" th:text="${bombeiro.localTrabalho}"></td>
                    <td class="align-middle" th:text="${bombeiro.municipioUnidade}"></td>
                    <td class="align-middle text-center">
                        <a class="btn btn-success btn-sm text-white" title="Tornar o BM ativo"
                            th:href="@{/csl-central/ativo/{id}(id=${bombeiro.id})}">
                            <i class="far fa-check-circle"></i>
                        </a>
                        <a class="btn btn-danger btn-sm text-white" title="Resetar senha para 123456"
                            th:href="@{/csl-central/resetar-senha/{id}(id=${bombeiro.id})}">
                            <i class="fa fa-arrow-right"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </main>
</body>

</html>