<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>CSL - CBMMA</title>
    <link rel="icon" type="imagem/png" href="" />
    <!-- CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" media="screen">
    <link th:href="@{/css/cadastro.css}" rel="stylesheet" media="screen">
    <link th:href="@{/css/sistema.css}" rel="stylesheet" media="screen">
    <link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.1/themes/blitzer/jquery-ui.css">
    <!-- JS -->
    <script src="https://kit.fontawesome.com/a096e5f12a.js" crossorigin="anonymous"></script>
    <script th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/js/sistema.js}"></script>

</head>

<body>
    <header>
        <div class="container-fluid color-nav">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <nav class="nav-topo">
                            <h4 class="text-white float-left txt-logo">CSL - CONVERSOR DE DADOS PARA JSON
                            </h4>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <main>

        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-lg-4">
                    <div class="my-box p-0">
                        <ul class="menu">
                            <li>
                                <a id="home" th:href="@{/}"> <i class="fas fa-home"></i> HOME</a>
                            </li>
                            <li>
                                <a id="meus-dados" th:href="@{/csl-unidade/meus-dados}"> <i
                                        class="fas fa-user-circle"></i> MEUS
                                    DADOS</a>
                            </li>
                            <li>
                                <a id="alterar-senha" th:href="@{/csl-unidade/alterar-senha}"> <i
                                        class="fas fa-sync-alt"></i> ALTERAR
                                    SENHA</a>
                            </li>
                            <div sec:authorize="hasAuthority('CSL_CENTRAL')">
                                <li>
                                    <a id="usuarios-cadastrados" th:href="@{/csl-central/usuarios-cadastrados}"> <i
                                            class="fa fa-user-friends"></i> USUÁRIOS CADASTRADOS</a>
                                </li>
                            </div>
                            <!-- Documento JSON -->
                            <li>
                                <a th:href="@{/csl-unidade/procedimento}" id="procedimento"> <i
                                        class="fa fa-file-text-o"></i> PROCEDIMENTO</a>
                            </li>
                            <li>
                                <a th:href="@{/csl-unidade/resultado}" id="resultado"> <i class="fa fa-file-text-o"></i>
                                    RESULTADO</a>
                            </li>
                            <li>
                                <a th:href="@{/csl-unidade/ata-registro}" id="ata_registro"> <i
                                        class="fa fa-file-text-o"></i> ATA REGISTRO</a>
                            </li>
                            <li>
                                <a th:href="@{/csl-unidade/cadastro-orgao}" id="cadastro_orgao"> <i
                                        class="fa fa-file-text-o"></i> CADASTRO ÓRGÃO</a>
                            </li>
                            <li>
                                <a th:href="@{/csl-unidade/cadastro-cliente}" id="cadastro_cliente"> <i
                                        class="fa fa-file-text-o"></i> CADASTRO CLIENTE</a>
                            </li>
                            <li>
                                <a th:href="@{/csl-unidade/contrato}" id="contrato"> <i class="fa fa-file-text-o"></i>
                                    CONTRATO</a>
                            </li>
                            <li>
                                <a th:href="@{/csl-unidade/sancao}" id="sancao"> <i class="fa fa-file-text-o"></i>
                                    SANÇÃO</a>
                            </li>
                            <!-- Documento JSON -->
                            <li>
                                <form id="form-sair" th:action="@{/logout}" th:method="POST">
                                    <a id="sair"> <i class="fas fa-sign-out-alt"></i> SAIR</a>
                                </form>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-12 col-lg-8">

                    <main class="my-box m-0 d-block" layout:fragment="conteudo">

                </div>
            </div>
        </div>

    </main>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-6 footer-cad">
                    <p class="p-min">Dúvidas e sugestões? <a href="#">Entre em contato</a></p>
                </div>
                <div class="col-6 footer-cad">
                    <p class="position-absolute p-min" style="right:0px;">Desenvolvido pelo Departamento de Tecnologia
                        da Informação/DPM - Capitão Aragão </p>
                </div>
            </div>
        </div>
    </footer>

</body>

</html>