<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{default/sistema-default}">

<head>
</head>

<body>
    <main layout:fragment="conteudo">

        <h2 id="titulo-page" class="mb-4"></h2>

        <div class="alert alert-success" th:if="${msgSuccess}">
            <span th:utext="${msgSuccess}"></span>
        </div>


        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

    </main>

</body>

</html>