<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>CSL - CBMMA</title>
    <link rel="icon" type="imagem/png" href="" />
    <!-- CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="css/cadastro.css" rel="stylesheet" media="screen">

    <link href="node_modules/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
</head>

<body>
    <header>
        <div class="container-fluid color-nav">
            <div class="container">
                <nav class="nav-topo">
                    <h4 class="text-white float-left txt-logo">CSL - CONVERSOR DE DADOS PARA JSON
                    </h4>
                </nav>
            </div>
        </div>
    </header>

    <main>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-8 offset-md-2">
                    <div class="my-box">
                        <i class="fas fa-check-circle text-success fa-3x mb-3"></i>
                        <h4 class="mb-2">Cadastro realizado</h4>
                        <p>Entre em contato com o Tenente-Coronel Alonso para liberar seu acesso.</p>
                        <a th:href="@{/}" class="btn my-button">Retornar</a>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-6 footer-cad">
                    <p class="p-min">Dúvidas e sugestões? <a href="#" data-toggle="modal" data-target="#modalContatoCenter">Entre em contato</a></p>
                </div>
                <div class="col-6 footer-cad">
                    <p class="position-absolute p-min" style="right:0px;">Desenvolvido pelo Departamento de Tecnologia da Informação/DPM - Capitão Aragão</p>
                </div>
            </div>
        </div>
    </footer>

      <!-- Modal -->
  <div class="modal fade" id="modalContatoCenter" tabindex="-1" role="dialog" aria-labelledby="modalContatoCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalContatoLongTitle">Entre em contato</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Para dúvidas e sugestões entre em contato com o Capitão Aragão.<br>
          Contato: (98) 98204-5453 / aragao@cbm.ma.gov.br
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
  </div>

    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/jquery.mask.min.js"></script>
    <script src="js/additional-methods.min.js"></script>
    <script src="js/jquery.validate.min.js"></script>
    <script src="js/form-validation.js"></script>

</body>

</html>