<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{default/sistema-default}">

<head>
    <script>
        window.onload = function () { $('footer').css('position', 'static'); $('footer').css('margin-top', '20px');} 
    </script>
    <th:block th:replace="default/elementos :: script"></th:block>
    <script th:src="@{/js/form-json/procedimento.js}"></script>
</head>>

<body>
    <main layout:fragment="conteudo">

        <h2 id="titulo-page" class="mb-4">PROCEDIMENTO</h2>

        <form class="mt-3" id="form-json" method="GET">

            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="cnpj_ug"><span class="text-danger">*</span>cnpj_ug</label>
                        <input type="text" class="form-control" name="cnpj_ug" id="cnpj_ug">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="id_contratacao"><span class="text-danger">*</span>id_contratacao</label>
                        <input type="text" class="form-control" name="id_contratacao" id="id_contratacao">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="numero_processo"><span class="text-danger">*</span>numero_processo</label>
                        <input type="text" class="form-control" name="numero_processo" id="numero_processo">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="ano_processo"><span class="text-danger">*</span>ano_processo</label>
                        <input type="text" class="form-control" name="ano_processo" id="ano_processo">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="numero_procedimento"><span class="text-danger">*</span>numero_procedimento</label>
                        <input type="text" class="form-control" name="numero_procedimento" id="numero_procedimento">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="ano_procedimento"><span class="text-danger">*</span>ano_procedimento</label>
                        <input type="text" class="form-control" name="ano_procedimento" id="ano_procedimento">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="data_publicacao"><span class="text-danger"></span>data_publicacao</label>
                        <input type="text" class="form-control" name="data_publicacao" id="data_publicacao">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="numero_lei"><span class="text-danger">*</span>numero_lei</label>
                        <input type="text" class="form-control" name="numero_lei" id="numero_lei">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="ano_lei"><span class="text-danger">*</span>ano_lei</label>
                        <input type="text" class="form-control" name="ano_lei" id="ano_lei">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="cod_procedimento"><span class="text-danger">*</span>cod_procedimento</label>
                        <select name="cod_procedimento" id="cod_procedimento" class="form-control">
                            <option value="" disabled selected></option>
                            <option value="DP">Dispensa</option>
                            <option value="IN">Inexigibilidade</option>
                            <option value="CP">Concorrência pública</option>
                            <option value="TP">Tomada de Preços</option>
                            <option value="CC">Carta Convite</option>
                            <option value="CO">Concurso</option>
                            <option value="LL">Leilão</option>
                            <option value="LI">Licitação Internacional</option>
                            <option value="PE">Pregão Eletrônico</option>
                            <option value="PP">Pregão Presencial</option>
                            <option value="CR">Credenciamento</option>
                            <option value="PQ">Pré-qualificação</option>
                            <option value="MI">Manifestação de interesse</option>
                            <option value="RC">Registro cadastral</option>
                            <option value="RE">RDC Eletrônico</option>
                            <option value="RP">RDC Presencial</option>
                            <option value="AA">Adesão a Ata de Registro de Preço</option>
                            <option value="DC">Diálogo competitivo</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="criterio"><span class="text-danger"></span>criterio</label>
                        <select name="criterio" id="criterio" class="form-control">
                            <option value="" disabled selected></option>
                            <option value="01">Menor Preço</option>
                            <option value="02">Menor técnica ou conteúdo artístico</option>
                            <option value="03">Técnica e preço</option>
                            <option value="04">Maior lance ou oferta</option>
                            <option value="05">Menor valor de tarifa</option>
                            <option value="06">Maior oferta outorga</option>
                            <option value="07">Melhor preço</option>
                            <option value="08">Melhor projeto</option>
                            <option value="09">Maior retorno econômico</option>
                            <option value="10">Maior desconto</option>
                            <option value="11">Menor valor tarifa</option>
                            <option value="12">Maior oferta outorga</option>
                            <option value="13">Menor valor tarifa com maior oferta outorga</option>
                            <option value="14">Menor valor tarifa com melhor oferta de pagamento</option>
                            <option value="15">Melhor oferta de pagamento</option>
                            <option value="16">Melhor proposta técnica, com preço fixado no edital</option>
                            <option value="17">Menor valor da tarifa com o de melhor técnica</option>
                            <option value="18">Maior oferta outorga com melhor técnica</option>
                            <option value="19">Maior oferta outorga com melhor oferta de pagamento</option>
                            <option value="20">Nenhum</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="finalidade"><span class="text-danger">*</span>finalidade</label>
                        <select name="finalidade" id="finalidade" class="form-control">
                            <option value="" disabled selected></option>
                            <option value="01">Alienação de bens móveis ou imóveis</option>
                            <option value="02">Aquisição de bens</option>
                            <option value="03">Aquisição de bens e serviços</option>
                            <option value="04">Aquisição de serviços</option>
                            <option value="05">Concessão de direito real de uso</option>
                            <option value="06">Concessão de serviços</option>
                            <option value="07">Concessão de serviços públicos precedida de execução de obra pública</option>
                            <option value="08">Concessão de uso</option>
                            <option value="09">Contratação de obras</option>
                            <option value="10">Contratação de obras e serviços de engenharia</option>
                            <option value="11">Contratação de serviços de engenharia</option>
                            <option value="12">Credenciamento</option>
                            <option value="13">Permissão</option>
                            <option value="14">Pré-qualificação</option>
                            <option value="15">Registro de preços</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="sistema_pregao"><span class="text-danger"></span>sistema_pregao</label>
                        <input type="text" class="form-control" name="sistema_pregao" id="sistema_pregao">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="data_adesao"><span class="text-danger"></span>data_adesao</label>
                        <input type="text" class="form-control" placeholder="AAAA-MM-DD" name="data_adesao" id="data_adesao">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="regime_execucao"><span class="text-danger">*</span>regime_execucao</label>
                        <select name="regime_execucao" id="regime_execucao" class="form-control">
                            <option value="" disabled selected></option>
                            <option value="1">Empreitada por preço global</option>
                            <option value="2">Empreitada por preço unitário</option>
                            <option value="3">Empreitada integral</option>
                            <option value="4">Contratação por tarefa</option>
                            <option value="5">Fornecimento</option>
                            <option value="6">Fornecimento e prestação de serviço associado</option>
                            <option value="7">Contratação integral</option>
                            <option value="8">Contratação semi-integrada</option>
                            <option value="9">Outros</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="objeto"><span class="text-danger">*</span>objeto</label>
                        <input type="text" class="form-control" name="objeto" id="objeto">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="valor_estimado"><span class="text-danger"></span>valor_estimado</label>
                        <input type="text" class="form-control" name="valor_estimado" id="valor_estimado">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="data_sessao"><span class="text-danger"></span>data_sessao</label>
                        <input type="text" class="form-control" placeholder="AAAA-MM-DD" name="data_sessao" id="data_sessao">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="cpf_autoridade"><span class="text-danger">*</span>cpf_autoridade</label>
                        <input type="text" class="form-control" name="cpf_autoridade" id="cpf_autoridade">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="edital_html"><span class="text-danger"></span>edital_html</label>
                        <textarea type="text" class="form-control" rows="10" cols="100" name="edital_html" id="edital_html"></textarea>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn my-button btn-block mt-2 mb-2">GERAR JSON</button>
        </form>
    </main>




</body>
</html>

