<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{default/sistema-default}">

<head>
    <script>
        window.onload = function () { $('footer').css('position', 'static'); $('footer').css('margin-top', '20px');} 
    </script>
    <th:block th:replace="default/elementos :: script"></th:block>
    <script th:src="@{/js/form-json/sancao.js}" type="module"></script>
</head>

<body>
    <main layout:fragment="conteudo">

        <h2 id="titulo-page" class="mb-4">SANÇÃO</h2>

        <form class="mt-3" id="form-json" method="GET">

            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="id_contratacao"><span class="text-danger">*</span>id_contratacao</label>
                        <input type="text" class="form-control" name="id_contratacao" id="id_contratacao">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="id_contrato"><span class="text-danger"></span>id_contrato</label>
                        <input type="text" class="form-control" name="id_contrato" id="id_contrato">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="cpf_cnpj"><span class="text-danger">*</span>cpf_cnpj</label>
                        <input type="text" class="form-control" name="cpf_cnpj" id="cpf_cnpj">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="tipo"><span class="text-danger">*</span>tipo</label>
                        <select name="tipo" id="tipo" class="form-control">
                            <option value="" disabled selected></option>
                            <option value="1">Advertência</option>
                            <option value="2">Multa</option>
                            <option value="3">Suspesão Temporária</option>
                            <option value="4">Declaração Inidoneidade</option>
                            <option value="5">Impedimento de licitar/contratar</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="numero_lei"><span class="text-danger">*</span>numero_lei</label>
                        <input type="text" class="form-control" name="numero_lei" id="numero_lei">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="ano_lei"><span class="text-danger">*</span>ano_lei</label>
                        <input type="text" class="form-control" name="ano_lei" id="ano_lei">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="data_notificacao"><span class="text-danger">*</span>data_notificacao</label>
                        <input type="text" class="form-control" name="data_notificacao" id="data_notificacao">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="data_inicio"><span class="text-danger"></span>data_inicio</label>
                        <input type="text" class="form-control" name="data_inicio" id="data_inicio">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="data_fim"><span class="text-danger"></span>data_fim</label>
                        <input type="text" class="form-control" name="data_fim" id="data_fim">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="amplitude"><span class="text-danger">*</span>amplitude</label>
                        <select name="amplitude" id="amplitude" class="form-control">
                            <option value="" disabled selected></option>
                            <option value="M">Municipal</option>
                            <option value="E">Estadual</option>
                            <option value="F">Federal</option>
                            <option value="N">Nacional (todos)</option>
                        </select>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn my-button btn-block mt-2 mb-2">GERAR JSON</button>
        </form>

    </main>

</body>

</html>